---
// Importaciones
import SearchBar from "../pages/blogs/_SearchBar";
import Layout from "../layouts/Layout.astro";
import imagen1 from "../assets/images/blog/banner_blog.webp";
import { blogService } from "../services/blogService";
import type Blog from "../models/Blog";

// Metadatos específicos para la página general del blog
const generalMetadata = {
  titulo: "Blog de Innovación en Luces LED y Tendencias en Diseño Sostenible",
  description: "Explore el blog de Yuntas Publicidad para conocer a fondo las novedades en construcción y diseño. Encuentra las tendencias que están transformando el sector."
};


let allArticles = [];
let error = null;

try {
  const res = await fetch("https://apiyuntas.yuntaspublicidad.com/api/blogs");
  if (!res.ok) {
    throw new Error(`HTTP error! status: ${res.status}`);
  }
  const apiResponse = await res.json();
  allArticles = apiResponse.data;
} catch (err) {
  error = err instanceof Error ? err.message : 'Error desconocido';
}
---

<Layout 
  title={generalMetadata.titulo}
>
  <!-- Banner -->
  <section class="relative h-screen">
    <img src={imagen1.src} alt="Biblioteca moderna con tecnología LED, espacio ideal para proyectos de diseño sostenible y ambientes funcionales" class="w-full h-full object-cover" />
    <div class="absolute inset-0 flex flex-col justify-center items-center text-center">
      <h1 class="text-7xl text-center Montserrat font-black text-white sombra-title">Blog Yuntero</h1>
    </div>
  </section>

  <section class="bg-gradient-to-b from-blue-900 to-indigo-950 p-12 text-white">
    <div class="flex justify-center">
      {error ? (
        <div class="text-red-500 text-xl">
          Error cargando blogs: {error}
        </div>
      ) : (
        <SearchBar client:load articles={allArticles} />
      )}
    </div>
  </section>
</Layout>