---
const { id, title, subtitle, image } = Astro.props;
---

<a href={`/blogs/${id}`} class="block w-full p-4">
  <div class="bg-white rounded-2xl text-black h-96 w-full my-10 hover:scale-110 transition-all duration-300 shadow-2xl">
    <img
      src={image}
      alt={title}
      class="w-full object-cover rounded-t-2xl object-center h-1/2"
    />
    <div class="h-2/5 w-full px-4 py-1">
      <p class="font-bold text-xl">{title}</p>
      <p class="text-lg">{subtitle}</p>
    </div>
  </div>
</a>
