---
import { Picture } from "astro:assets";
import Fader from "../../components/products/Fader";
import Layout from "../../layouts/Layout.astro";
import imagen1 from "../../../public/products/BarrasPixelLED/beneficios.webp";
import imagen2 from "../../../public/products/PisosLED/beneficios.webp";
import imagen3 from "../../../public/products/SillasyMesasLED/beneficios.webp";
import imagen4 from "../../../public/products/BarrasPixelLED/beneficios.webp";
import imagen5 from "../../../public/products/PisosLED/beneficios.webp";
import imagen6 from "../../../public/products/SillasyMesasLED/beneficios.webp";
import imagenEmergente1 from "../../../src/assets/images/emergente/yuleLove.jpg";
import imagenEmergente2 from "../../../src/assets/images/emergente/em2.jpg";
import imagenEmergente3 from "../../../src/assets/images/emergente/em3.webp";
import imagenEmergente4 from "../../../src/assets/images/emergente/em4.jpg";
import imagenEmergente5 from "../../../src/assets/images/emergente/em5.webp";
import imagenEmergente6 from "../../../src/assets/images/emergente/em6.webp";
import imagenEmergente7 from "../../../src/assets/images/emergente/em7.webp";
import imagenEmergente8 from "../../../src/assets/images/emergente/em8.webp";
import imagenEmergente9 from "../../../src/assets/images/emergente/em9.webp";
import imagenEmergente10 from "../../../src/assets/images/emergente/em10.webp";
import imagenEmergente11 from "../../../src/assets/images/emergente/em11.webp";
import imagenEmergente12 from "../../../src/assets/images/emergente/em12.webp";
const { imageUrl, title, subtitle, buttonText } = Astro.props;

export const productos = [
  {
    id: 1,
    nombre: "Letreros Neón LED",
    info: "Los Letreros Neón LED son herramientas que decoran e iluminan tus negocios y eventos para crear experiencias únicas.\nDisponibles en una amplia gama de colores y diseños.",
    especificaciones: [
      "Materiales duraderos",
      "100% personalizables",
      "Eficiencia energética",
      "Adaptable a espacios",
    ],
    beneficios: [
      "Iluminación con colores vibrantes",
      "Facil instalación",
      "Brinda personalidad",
      "Atractivo visual",
    ],
    imagen_beneficios_url: imagen1,
    imagen_banner_url: imagen4,
    emergente: {
      tipo: 4,
      imagen_url: imagenEmergente1,
    }
  },
  {
    id: 2,
    nombre: "Sillas y Mesas LED",
    info: "Nuestras sillas y mesas LED son adaptable y versátil a cualquier ambiente, perfecto para eventos y con bajo consumo de energia.\nPara finiquitar, el producto es personalizable al gusto del ciente.",
    especificaciones: [
      "Materiales de alta calidad",
      "100% personalizables",
      "Bajo consumo de energía",
      "Adaptable a interiores y exteriores",
    ],
    beneficios: [
      "Crea un ambiente único",
      "Fácil instalación",
      "Toque exclusivo a tu evento",
      "Adaptable a tu estilo",
    ],
    imagen_beneficios_url: imagen3,
    imagen_banner_url: imagen6,
    emergente: {
      tipo: 1,
      imagen_url: imagenEmergente2,
    }
  },
  {
    id: 3,
    nombre: "Pisos LED",
    info: "Los Pisos LED ofrecen iluminación interactiva y personalizable, ideales para eventos, escenarios y espacios comerciales, brindando un impacto visual dinámico y moderno.",
    especificaciones: [
      "Alta resolución y brillo",
      "Resistencia al peso ",
      "Superficie antideslizante",
      "Soporta proyecciones HD",
    ],
    beneficios: [
      "Ambientes inmersivos",
      "Mayor interacción",
      "Flexibilidad de diseños",
      "Aumento de visibilidad",
    ],
    imagen_beneficios_url: imagen2,
    imagen_banner_url: imagen5,
    emergente: {
      tipo: 5,
      imagen_url: imagenEmergente3,
    }
  },
  {
    id: 4,
    nombre: "Barras Pixel LED",
    info: "Nuestras Barras de Pixel LED forman parte de nuestra nueva línea de productos, perfectas para crear efectos visuales dinámicos y personalizables.\nIdeales para eventos, vitrinas, y fachadas modernas.",
    especificaciones: [
      "Ideales para exposiciones",
      "Imágenes de alto relieve",
      "Tecnología eficiente y moderna",
      "Colores vibrantes",
    ],
    beneficios: [
      "Imágenes de alto impacto",
      "Fácil instalación y mantenimiento",
      "Personalización rápida",
      "Alto atractivo visual",
    ],
    imagen_beneficios_url: imagen1,
    imagen_banner_url: imagen4,
    emergente: {
      tipo: 3,
      imagen_url: imagenEmergente4,
    }
  },
];

export async function getStaticPaths() {
  return productos.map((producto) => {
    return {
      params: { productId: producto.id.toString() },
    };
  });
}

const { productId } = Astro.params;

const producto = productos.find((p) => p.id.toString() === productId);

if (!producto) {
  throw new Error(`Producto no encontrado: ${productId}`);
}

const productoRuta = producto.nombre.replace(/\s+/g, "");
---

<Layout title={producto.nombre}>
  <section class="w-full h-dvh grid grid-rows-[90%_10%]">
    <Picture
      src={producto.imagen_banner_url}
      alt={`Imagen de ${producto.nombre}`}
      class="w-full h-full object-cover"
    />
    <h1
      class="w-full bg-white text-blue-950 place-content-center font-extrabold text-center text-3xl lg:text-5xl 2xl:text-7xl 2xl:h-[100px]"
    >
      {producto.nombre}
    </h1>
  </section>
  <section class="bg-linear-to-b from-blue-900 to-indigo-950 text-white w-full">
    <div
<<<<<<< HEAD
      class="flex flex-col items-center sm:flex-row sm:justify-around w-full py-16 px-2 sm:px-8"
=======
      class="flex flex-col items-center sm:flex-row sm:justify-around w-full py-16 px-8"
>>>>>>> c8683039466beed91b282a4301139ca9c5c7c4e6
    >
        <Fader nombreProducto={producto.nombre} client:load />
      <div
        class="flex flex-col justify-evenly ps-6 pe-2 sm:px-7 w-full h-full max-w-md sm:max-w-2xs lg:max-w-md xl:max-w-xl 2xl:max-w-2xl"
      >
        <h2
          class="text-sm sm:text-xl md:text-2xl lg:text-4xl 2xl:text-6xl font-extrabold text-center"
        >
          Especificaciones
        </h2>
        <ul
          class="list-disc text-xs sm:text-md md:text-base lg:text-xl xl:text-2xl 2xl:text-4xl"
        >
          {
            producto.especificaciones.map((item) => {
              return <li class="my-6">{item}</li>;
            })
          }
        </ul>
      </div>
    </div>
    <div
      class="text-blue-950 bg-white w-full py-6 text-center px-2 lg:px-12 2xl:py-14"
    >
      <h2 class="text-2xl md:text-3xl lg:text-4xl 2xl:text-6xl font-extrabold">
        Información
      </h2>
      <p
        class="whitespace-break-spaces font-semibold my-5 text-sm md:text-base lg:text-xl xl:text-2xl 2xl:text-4xl"
      >
        {producto.info}
      </p>
    </div>
    <div
      class="flex flex-col items-center sm:flex-row sm:justify-around w-full py-16 px-8"
    >
      <div
        class="flex flex-col justify-evenly ps-6 pe-2 sm:px-7 lg:px-10 2xl:px-16  w-full h-full max-w-md sm:max-w-2xs lg:max-w-md xl:max-w-xl 2xl:max-w-2xl"
      >
        <h2
          class="text-sm sm:text-xl md:text-2xl lg:text-4xl 2xl:text-6xl font-extrabold text-center"
        >
          Beneficios
        </h2>
        <ul
          class="list-disc text-xs sm:text-md md:text-base lg:text-xl xl:text-2xl 2xl:text-4xl"
        >
          {
            producto.beneficios.map((item) => {
              return <li class="my-6">{item}</li>;
            })
          }
        </ul>
      </div>
      <Picture
        src={producto.imagen_beneficios_url}
        alt=`Imagen de ${producto.nombre} `
        class="rounded-4xl max-h-[20rem]  w-full h-full max-w-md sm:max-w-2xs lg:max-w-md xl:max-w-xl 2xl:max-w-2xl shadow-2xl object-cover object-center"
      />
    </div>
  </section>
</Layout>
<!-- Ventana emergente -->
<div
  id="lightbox"
  class="fixed inset-0 flex items-center justify-center bg-black/50 z-50"
>
  <div
    class="flex flex-col-reverse sm:flex-row relative bg-white rounded-2xl shadow-lg max-w-[400px] sm:max-w-lg overflow-hidden mx-2 sm:mx-[0px]"
  >
    <!-- Imagen -->
    <div class="sm:w-1/2">
      <Picture
        src={producto.emergente.imagen_url}
        alt={producto.nombre}
        class="h-[250px] sm:h-full w-full object-cover"
      />
    </div>

    <!-- Formulario -->
    <div class="sm:w-1/2 bg-[#293296] p-6 text-white relative">
      <button
        id="close-modal"
        class="absolute top-2 right-2 bg-white text-black rounded-full w-8 h-8 flex items-center justify-center"
        >✕</button
      >
      {producto.emergente.tipo == 1 && <h2 class="text-xl sm:text-4xl font-semibold italic">Obtén<br><span class="text-2xl sm:text-5xl font-bold">Asesoría<br></span>gratuita</h2>}
      {producto.emergente.tipo == 2 && <h2 class="text-xl sm:text-4xl font-bold italic"><span class="text-base sm:text-3xl font-semibold">Disfruta Nuestros<br></span>Beneficios</h2>}
      {producto.emergente.tipo == 3 && <h2 class="text-xl sm:text-4xl font-semibold italic">Accede<br><span class="text-2xl sm:text-5xl font-bold">Ofertas<br></span>Exclusivas</h2>}
      {producto.emergente.tipo == 4 && <h2 class="text-base sm:text-2xl font-semibold italic">Gana <br> <span class="text-2xl sm:text-5xl font-semibold">10% dto.</span> en tu compra</h2>}
      {producto.emergente.tipo == 5 && <h2 class="text-base sm:text-2xl font-semibold italic"><span class="text-2xl sm:text-5xl font-semibold">Ahorra<br></span>en tu primera compra</h2>}
      {producto.emergente.tipo == 6 && <h2 class="text-lg sm:text-3xl font-semibold italic">Obtén<br><span class="text-xl sm:text-4xl font-bold">Descuentos<br></span>Especiales</h2>}
      {producto.emergente.tipo == 7 && <h2 class="text-xl sm:text-4xl font-semibold italic">Envío<br /><span class="text-3xl sm:text-6xl font-bold">Gratis<br /></span><span class="text-base sm:text-2xl font-semibold">en todo Lima</span></h2>}

      <form class="mt-4">
        <label class="block text-lg font-bold">Nombre</label>
        <input
          type="text"
          class="w-full px-3 py-1 rounded-full bg-white text-black mb-4"
        />

        <label class="block text-lg font-bold">Teléfono</label>
        <input
          type="text"
          class="w-full px-3 py-1 rounded-full bg-white text-black mb-4"
        />

        <label class="block text-lg font-bold">Correo</label>
        <input
          type="email"
          class="w-full px-3 py-1 rounded-full bg-white text-black mb-4"
        />

        <button class="w-full bg-[#172649] text-white-800 text-2xl border py-3 rounded-lg font-bold">
            {producto.emergente.tipo == 1 && "Aprovecha ahora"}
            {producto.emergente.tipo == 2 && "Aprovecha ahora"}
            {producto.emergente.tipo == 3 && "Regístrate"}
            {producto.emergente.tipo == 4 && "Cotiza ahora"}
            {producto.emergente.tipo == 5 && "Regístrate"}
            {producto.emergente.tipo == 6 && "Cotiza ahora"}
            {producto.emergente.tipo == 7 && "Aprovecha ahora"}
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Código que permite cerrar las ventanas emergentes  -->
<script>
  function setupModal() {
    const modal = document.getElementById("lightbox");
    const closeButton = document.getElementById("close-modal");

    if (modal && closeButton) {
      closeButton.addEventListener("click", () => {
        modal.classList.add("hidden");
      });
    }
  }

  document.addEventListener("DOMContentLoaded", setupModal);
  document.addEventListener("astro:after-swap", setupModal);
</script>