---
import { Picture } from "astro:assets";
import Fader from "../../components/products/Fader";
import Layout from "../../layouts/Layout.astro";
import imagen1 from "../../../public/products/BarrasPixelLED/beneficios.webp";
import imagen2 from "../../../public/products/PisosLED/beneficios.webp";
import imagen3 from "../../../public/products/SillasyMesasLED/beneficios.webp";
import imagen4 from "../../../public/products/BarrasPixelLED/beneficios.webp";
import imagen5 from "../../../public/products/PisosLED/beneficios.webp";
import imagen6 from "../../../public/products/SillasyMesasLED/beneficios.webp";
import { MdPictureAsPdf } from "react-icons/md";

export const productos = [
  {
    id: 1,
    nombre: "Letreros Neón LED",
    info: "Los Letreros Neón LED son herramientas que decoran e iluminan tus negocios y eventos para crear experiencias únicas.\nDisponibles en una amplia gama de colores y diseños.",
    especificaciones: [
      "Materiales duraderos",
      "100% personalizables",
      "Eficiencia energética",
      "Adaptable a espacios",
    ],
    beneficios: [
      "Iluminación con colores vibrantes",
      "Facil instalación",
      "Brinda personalidad",
      "Atractivo visual",
    ],
    imagen_beneficios_url: imagen1,
    imagen_banner_url: imagen4,
  },
  {
    id: 2,
    nombre: "Sillas y Mesas LED",
    info: "Nuestras sillas y mesas LED son adaptable y versátil a cualquier ambiente, perfecto para eventos y con bajo consumo de energia.\nPara finiquitar, el producto es personalizable al gusto del ciente.",
    especificaciones: [
      "Materiales de alta calidad",
      "100% personalizables",
      "Bajo consumo de energía",
      "Adaptable a interiores y exteriores",
    ],
    beneficios: [
      "Crea un ambiente único",
      "Fácil instalación",
      "Toque exclusivo a tu evento",
      "Adaptable a tu estilo",
    ],
    imagen_beneficios_url: imagen3,
    imagen_banner_url: imagen6,
  },
  {
    id: 3,
    nombre: "Pisos LED",
    info: "Los Pisos LED ofrecen iluminación interactiva y personalizable, ideales para eventos, escenarios y espacios comerciales, brindando un impacto visual dinámico y moderno.",
    especificaciones: [
      "Alta resolución y brillo",
      "Resistencia al peso ",
      "Superficie antideslizante",
      "Soporta proyecciones HD",
    ],
    beneficios: [
      "Ambientes inmersivos",
      "Mayor interacción",
      "Flexibilidad de diseños",
      "Aumento de visibilidad",
    ],
    imagen_beneficios_url: imagen2,
    imagen_banner_url: imagen5,
  },
  {
    id: 4,
    nombre: "Barras Pixel LED",
    info: "Nuestras Barras de Pixel LED forman parte de nuestra nueva línea de productos, perfectas para crear efectos visuales dinámicos y personalizables.\nIdeales para eventos, vitrinas, y fachadas modernas.",
    especificaciones: [
      "Ideales para exposiciones",
      "Imágenes de alto relieve",
      "Tecnología eficiente y moderna",
      "Colores vibrantes",
    ],
    beneficios: [
      "Imágenes de alto impacto",
      "Fácil instalación y mantenimiento",
      "Personalización rápida",
      "Alto atractivo visual",
    ],
    imagen_beneficios_url: imagen1,
    imagen_banner_url: imagen4,
  },
];

export async function getStaticPaths() {
  return productos.map((producto) => {
    return {
      params: { productId: producto.id.toString() },
    };
  });
}

const { productId } = Astro.params;

const producto = productos.find((p) => p.id.toString() === productId);

if (!producto) {
  throw new Error(`Producto no encontrado: ${productId}`);
}

const productoRuta = producto.nombre.replace(/\s+/g, "");
---

<Layout title={producto.nombre}>
  <section class="w-full h-dvh grid grid-rows-[90%_10%]">
    <Picture
      src={producto.imagen_banner_url}
      alt={`Imagen de ${producto.nombre}`}
      class="w-full h-full object-cover"
    />
    <h1
      class="w-full bg-white text-blue-950 place-content-center font-extrabold text-center text-3xl lg:text-5xl 2xl:text-7xl 2xl:h-[100px]"
    >
      {producto.nombre}
    </h1>
  </section>
  <section class="bg-linear-to-b from-blue-900 to-indigo-950 text-white w-full">
    <div
      class="flex flex-col items-center sm:flex-row sm:justify-around w-full py-16 px-8"
    >
        <Fader nombreProducto={producto.nombre} client:load />
      <div
        class="flex flex-col justify-evenly ps-6 pe-2 sm:px-7 w-full h-full max-w-md sm:max-w-2xs lg:max-w-md xl:max-w-xl 2xl:max-w-2xl"
      >
        <h2
          class="text-sm sm:text-xl md:text-2xl lg:text-4xl 2xl:text-6xl font-extrabold text-center"
        >
          Especificaciones
        </h2>
        <ul
          class="list-disc text-xs sm:text-md md:text-base lg:text-xl xl:text-2xl 2xl:text-4xl"
        >
          {
            producto.especificaciones.map((item) => {
              return <li class="my-6">{item}</li>;
            })
          }
        </ul>
      </div>
    </div>
    <div
      class="text-blue-950 bg-white w-full py-6 text-center px-2 lg:px-12 2xl:py-14"
    >
      <h2 class="text-2xl md:text-3xl lg:text-4xl 2xl:text-6xl font-extrabold">
        Información
      </h2>
      <p
        class="whitespace-break-spaces font-semibold my-5 text-sm md:text-base lg:text-xl xl:text-2xl 2xl:text-4xl"
      >
        {producto.info}
      </p>
    </div>
    <div
      class="flex flex-col items-center sm:flex-row sm:justify-around w-full py-16 px-8"
    >
      <div
        class="flex flex-col justify-evenly ps-6 pe-2 sm:px-7 lg:px-10 2xl:px-16  w-full h-full max-w-md sm:max-w-2xs lg:max-w-md xl:max-w-xl 2xl:max-w-2xl"
      >
        <h2
          class="text-sm sm:text-xl md:text-2xl lg:text-4xl 2xl:text-6xl font-extrabold text-center"
        >
          Beneficios
        </h2>
        <ul
          class="list-disc text-xs sm:text-md md:text-base lg:text-xl xl:text-2xl 2xl:text-4xl"
        >
          {
            producto.beneficios.map((item) => {
              return <li class="my-6">{item}</li>;
            })
          }
        </ul>
      </div>
      <Picture
        src={producto.imagen_beneficios_url}
        alt=`Imagen de ${producto.nombre} `
        class="rounded-4xl max-h-[20rem]  w-full h-full max-w-md sm:max-w-2xs lg:max-w-md xl:max-w-xl 2xl:max-w-2xl shadow-2xl object-cover object-center"
      />
    </div>
  </section>
</Layout>
