---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import ScrollModal from "../components/ScrollModal";
import Footer from "../components/Footer.astro";
import WhatsApp from "../components/ui/whatsapp.astro";

interface Props {
  title: string;
  description?: string;
  keywords?: string;
  canonicalUrl?: string;
}
const {
  title,
  description = "Descubre letreros LED, paneles acrílicos, hologramas 3D y más. Soluciones innovadoras y personalizadas para tu negocio en Lima. ¡Cotiza gratis!",
  keywords,
  canonicalUrl,
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Yuntas" />
    <meta name="publisher" content="Technology 3" />
    <link rel="canonical" href={canonicalUrl} />
    {keywords && <meta name="keywords" content={keywords} />}
    {description && <meta name="description" content={description} />}
    <meta name="robots" content="index, follow" />
    <!--  fuente de Google Fonts Optimizada -->
    <!-- Proximamente -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
        rel="stylesheet"
      />
    </noscript> -->

    <ClientRouter />
  </head>
  <body>
    <Navbar variant="default" />

    <slot />
    <Footer />
    {Astro.url.pathname === "/" && <ScrollModal client:idle />}
    <WhatsApp />
  </body>
</html>
